<div class="page" data-name="main">
  <!-- Achievement screen -->
  <div class="achievement achievement-front">
    <div class="award-block dismissaward">

      <div class="row" style="height: 92%; width: 100%">
        <div class="col" style="height: 100%">

          <div class="row congrats-row" style="height: 10%">
            <div class="congrats"></div>
          </div>

          <div class="row text-row" style="height: 20%">
            <p><strong class="quote"></strong></p>
            <p class="sub"></p>
          </div>

          <div class="row medal-img-row" style="height: 60%">
            <div class="medal-img" style="height: 100%; width: 100%;"></div>
          </div>

          <div class="row text-row" style="height: 10%">
            <p><strong class="award"></strong></p>
          </div>

        </div>
      </div>

      <div class="text-row row" style="height: 8%; width: 100%">
        <p class="tap-to-continue">Tap anywhere to continue...</p>
      </div>

    </div>

    <div class="achievement-block dismissach" style="display: none">

      <div class="row" style="height: 92%; width: 100%">
        <div class="col" style="height: 100%">

          <div class="row text-row" style="height: 10%">
            <p style="margin-top: 0;"><strong class="award"></strong></p>
          </div>

          <div class="row ach-img-row" style="height: 65%">
            <div class="ach-img" style="height: 100%; width: 100%;"></div>
          </div>

          <div class="row ach-img-row" style="height: 5%">
          </div>

          <div class="row share-row" style="height: 20%">
            <div class="col" style="height:100%">

              <div class="socialbuttons" style="height: 70%">
                <img class="thirdbutton" src="img/facebook.png" alt="fb"/>
                <img class="thirdbutton" src="img/twitter.png" alt="twitter"/>
                <img class="thirdbutton" src="img/email.png" alt="email"/>
              </div>

              <div class="row" style="height: 5%">
              </div>

              <div class="row text-row" style="height: 25%">
                <p style="margin-top: 0;">Share your progress!</p>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="text-row row" style="height: 8%; width: 100%">
        <p class="tap-to-continue">Tap anywhere to continue...</p>
      </div>

    </div>

    <div class="finished-block dismissfinish" style="display: none">
      <a href="/menu/">

        <div class="row" style="height: 92%; width: 100%">
          <div class="col" style="height: 100%">

            <div class="row text-transform-row" style="height: 75%">
              <div class="col" style="height: 100%; width: 100%;">
                <p>Well done! You've completed all 100 Linkz and finished with a score of
                  <span class="curr_score"></span>
                </p>
                <p>Think you can do better than that?</p>
              </div>
            </div>

            <div class="row" style="height: 5%">
            </div>

            <div class="row share-row" style="height: 20%">
              <div class="col" style="height:100%">

                <div class="socialbuttons" style="height: 70%">
                  <img class="thirdbutton" src="img/facebook.png" alt="fb"/>
                  <img class="thirdbutton" src="img/twitter.png" alt="twitter"/>
                  <img class="thirdbutton" src="img/email.png" alt="email"/>
                </div>

                <div class="row" style="height: 5%">
                </div>

                <div class="row text-row" style="height: 25%">
                  <p style="margin-top: 0;">Share your progress!</p>
                </div>
              </div>

            </div>

          </div>
        </div>

        <div class="text-row row" style="height: 8%; width: 100%">
          <p class="tap-to-continue">Tap anywhere to continue...</p>
        </div>

      </a>

    </div>
  </div>

    <!-- navbar -->
    <div class="navbar top-bar">
        <div class="navbar-inner">
            <div class="title sliding">
              <a href="/menu/"><img src="img/movie_links.png" style="height:25px; "></a>
            </div>
            <div class="right">
                <span class="curr_score">0</span>
            </div>
        </div>
    </div>
    <!-- main page -->
    <div class="page-content question-page" style="overflow-x: hidden">
        <div class="block question-block">
          <div id="moving-column-holder" class="moving-column-holder row question-layout pyramid-row no-gap" style="height: 65%; width: 200%; position: relative; overflow-x: hidden !important;">
            <div class="col mvc" style="height: 95%;"></div>
            <div class="col mvc" style="height: 95%;"></div>

          </div>

          <div class="row answer-row no-gap">
            <div class="col" style="height: 100%; width: 100%">
              <div class="row no-gap" style="height: 10%">
              </div>
              <div class="row no-gap" style="height: 80%">
                <div class="col-3"></div>
                <button class="col-30 button button-fill answer-button" id="option1"></button>
                <div class="col-2"></div>
                <button class="col-30 button button-fill answer-button" id="option2"></button>
                <div class="col-2"></div>
                <button class="col-30 button button-fill answer-button" id="option3"></button>
                <div class="col-3"></div>
              </div>
              <div class="row no-gap" style="height: 10%">
              </div>
            </div>

          </div>

        </div>

        <div class="row advert-row" style="width: 100%">
          <div class="col advert-div" style="height: 100%">

          </div>
        </div>
    </div>
</div>
