<div class="page" data-name="menu">
    <div class="page-content menu">
        <div class="splashimage textcenter">
            <img src="img/movielinkz_black.png"/>
            <div class="landingbuttons">
              <a href="/main/" class="resumelink">
                <button class="button resumebutton landingbutton" style="display: none;">Restore Previous Game</button>
              </a>
              <a href="/main/">
                <button class="button playbutton landingbutton" href="/main/">Play Movie Linkz (1.0.3)</button>
              </a>
              <a href="/rules/">
                <button class="button rulesbutton landingbutton">Rules</button>
              </a>
              <!-- dontu update this link use the plugin in app.js-->
              <a class="ratebutton">
                <button class="button ratebutton landingbutton">Rate *****</button>
              </a>
            </div>
            <div class="socialbuttons">
              <img class="thirdbutton facebookbutton" src="img/facebook.png" alt="fb"/>
              <img class="thirdbutton twitterbutton" src="img/twitter.png" alt="twitter"/>
              <img class="thirdbutton instagrambutton" src="img/email.png" alt="email"/>
            </div>

        </div>
    </div>
</div>
