<div class="page">
    <div class="page-content menu">
    	
        <h1 style="text-align: center !important;">Movie Linkz: the rules</h1>
        
        <h3>The question</h3>
        
        <p>Each movie question shows you 2 ACTORS and 3 potential MOVIE answers.</p>

        <h3>The answer</h3>

        <p>CORRECTLY select the film they both starred in to create a MOVIE LINKZ. Get it wrong and you lose 10 MOVIE LINKZ points.</p>

        <h3>Aim of the game</h3>

        <p>Create the longest unbroken chain of MOVIE LINKZ to hit high scores and collect your ACHIEVEMENT BADGES.</p>
        <br/>
        <a class="button button-round button-fill" href="/menu/">Back</a>
  </div>
</div>