<div class="row no-gap" style="height: 100%">
  <div class="col-5 col1" style="height: 100%">
    <div id="row1A" class="row pyramid-row no-gap">
      <div class="prevline pyramid col"></div>
    </div>
    <div id="row1B" class="row pyramid-row no-gap">
      <div class="linkdiv pyramid col"></div>
    </div>
  </div>

  <div class="col-30 col2" style="height: 100%">
    <div id="row2A" class="row pyramid-row no-gap">
      <div class="purpleline actor actor1 image pyramid col">
        <div class="purplebg actor1name"></div>
      </div>
    </div>
    <div id="row2B" class="row pyramid-row no-gap">
      <div class="pyramid col"></div>
    </div>
    <div id="row2C" class="row pyramid-row no-gap">
      <div  class="purpleline actor actor2 image pyramid col">
        <div class="purplebg actor2name"></div>
      </div>
    </div>
  </div>

  <div class="col-30 col3"  style="height: 100%">
    <div class="row no-gap" style="height:100%">
      <div class="col col3a"  style="height: 100%">
        <div id="row3aA" class="row pyramid-row no-gap">
          <div class="pyramid col"></div>
        </div>
        <div id="row3aB" class="row pyramid-row no-gap">
          <div class="purpleline pyramid col"></div>
        </div>
        <div id="row3aC" class="row pyramid-row no-gap">
          <div class="pyramid col"></div>
        </div>
      </div>

      <div class="col col3b"  style="height: 100%">
        <div id="row3bA" class="row pyramid-row no-gap">
          <div class="purpleline pyramid col"></div>
        </div>
        <div id="row3bB" class="row pyramid-row no-gap">
          <div class="pyramid col"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-30 col4"  style="height: 100%">
    <div id="row4A" class="row pyramid-row no-gap">
      <img class="stars top-stars" src="img/stars/0.png" style="width: 100%; height: 100%;"></img>
    </div>
    <div id="row4B" class="questionmarkrow purpleline row pyramid-row no-gap">
      <div class="image pyramid col questionmark">
        <div class="image questionmarkimage" style="background-image: url(img/question.png)"></div>
      </div>
    </div>
    <div id="row4C" class="row pyramid-row no-gap">
      <img class="stars bottom-stars" src="img/stars/0.png" style="width: 100%; height: 100%;"></img>
    </div>
  </div>

  <div class="col-5 col5"  style="height: 100%">
    <div id="row5A" class="row pyramid-row no-gap">
      <div class="purpleline pyramid col"></div>
    </div>
    <div id="row5B" class="row pyramid-row no-gap">
      <div class="pyramid col"></div>
    </div>
  </div>
</div>
