/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div#app {
  text-transform: none !important;
}

.page .navbar.top-bar {
  height: 44px;
  background-color: white;
  color: black;
}

.page-content.question-page {
  padding-top: 44px !important;
}

.question-page {
  text-align: center;
  background-color: white;
}
  .question-block {
    height: 100%;

}

.block.question-block {
  position: absolute;
  top: 0;
  height: calc(100% - 50px);
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 80px !important;
}

.question-row {
  height: 30%;
  max-height: 30%;

}

.picture-row {
  height: 33%;
  max-height: 33%;

}

.picture-row img {
  width: 70%;
  border-radius: 10px;
}

.answer-space {
  position: relative;
  top: 50%;
}

img#answer-space {
  border: solid 5px #9a348e;
}

.answer-row {
  height: 35%;
  max-height: 35%;
  padding: 0px 10px;
}

.answer-row button.button.button-fill.answer-button {
  background-color: #9a348e;
  color: white;
  text-transform: none !important;
  white-space: normal;
  line-height: 1.5em;
  height: 100%;
  margin-top: 0%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-2 {
  width: 2% !important;
}

.col-3 {
  width: 3% !important;
}

.advert-row {
  height: 50px;
  max-height:50px;
  position: absolute;
  bottom: 0;
}

div.moving-column {
  position: relative;
}

.question-layout .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.question-layout .questionmark {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-layout .questionmark .image {
  background-size: contain;
  height: 100%;
}

.question-layout .col2 .row div {
  border-radius: 10px;
}

.question-layout .col4 .row div {
  border-radius: 10px;
}

.pyramid {
  height: 100%;
}

/* Styling for question grid layout */

.row#row1A {
  height: 23%;
}

.row#row1A > div {
  border: none;
  border-bottom: solid 5px;
}
.row#row1B {
  height: 27%;
}

.row#row2A {
  height: 46%;
}
.row#row2A > div {
  /* border: solid 5px; */
}
.row#row2B {
  height: 8%;
}
.row#row2C {
  height: 46%;
}
.row#row2C > div {
  /* border: solid 5px; */
}

.row#row3aA {
  height: 23%;
}
.row#row3aB {
  height: 54%;
}
.row#row3aB > div {
  border: solid 5px;
  border-left: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.row#row3bA {
  height: 50%;
}
.row#row3bA > div {
  border: none;
  border-bottom: solid 5px;
}

.row#row4A {
  height: 27%;
}
.row#row4B {
  height: 46%;
}
.row#row4B > div {
  border: solid 5px;
}
.row#row4C {
  height: 27%;
}

.row#row5A {
  height: 50%;
}
.row#row5A > div {
  border: none;
  border-bottom: solid 5px;
}

.row#row6A {
  height: 50%;
}
.row#row6A > div {
  border: none;
  border-bottom: solid 5px;
  border-right: solid 5px;
}

.purpleline {
  border-color: #9a348e !important;
}

.greenline {
  border-color: #2ca58d !important;
}

.redline {
  border-color: #c74a67 !important;
}

.prevline {
  border-color: #2ca58d !important;
}


.splash {
  display: block !important;
  position:absolute !important;
  height:auto !important;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  margin-left:10px;
  background: linear-gradient(to right, #9a348e, #c84a67);
  border-radius: 5px;
}

.splashimage {
    height: 25%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5%;
}

.splashimage img {
  max-width: 100%;
  max-height: 100%;
}

.menu {
  display: block !important;
  position:absolute !important;
  height:auto !important;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin:10px;
  background: #f9dbbd;
  border-radius: 5px;
}

.splashimage .landingbuttons {
  height: 100%;
  padding-top: 10px;
}

.splashimage .landingbutton{
  margin-bottom: 10px !important;
  text-transform: inherit;
  width: 80%;
  margin-left: 10%;
  color: white !important;
  border-radius: 50px !important;
  border: none !important;
  height: 20% !important;
}

.splashimage .landingbutton.resumebutton {
  background-color: #3a5a98;
}

.splashimage .landingbutton.playbutton {
  background-color: #9a348e;
}

.splashimage .landingbutton.rulesbutton {
  background-color: #2ca58d;
}

.splashimage .landingbutton.ratebutton {
  background-color: #c18e00;
}

.textcenter{
    text-align: center;
}

.thirdbutton{
  width: 15%;
  padding: 5px;
}

.correctans{
    background-color:#2ca58d !important;
}

.wrongans{
    background-color: #c74a67 !important;
}

.left-border {
  border-left: solid 5px #9a348e !important;
}

.actor {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.actor div {
  font-size: 0.8em;
  background-color: rgba(154, 52, 142, 0.6);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 5px;
}

.questionmarkrow > div {
  border-color: inherit !important;
}

.stars {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

img.bottom-stars {
  transform: scaleX(-1);
}

.linkdiv {
  border-color: #2ca58d !important;

}

.curr_score {
  padding-right: 10px;
}

.title.sliding {
  left: 10px !important;
}

.achievement {
  height: calc(100% - 64px);
  width: calc(100% - 20px);
  background-color: rgba(44, 165, 141, 0.95);
  position: absolute;
  text-align: center;
  display: none;
  position:absolute !important;
  margin:10px;
  margin-top: 54px;
  border-radius: 5px;

  animation-name: stretch;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.award-block {
  padding: 10px;
  height: calc(100% - 20px);
  display: none;
}

.achievement-block {
  padding: 10px;
  height: calc(100% - 20px);
  display: none;
}

.achievement p {
  margin-bottom: 0;
}

.congrats {
  width: 100%;
  height: 100%;
  background-image: url(../img/congrats.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-row p {
  width: 100%;
  color: white;
  font-size: 1.1em;
}

.achievement.achievement-front {
  z-index: 100;
}

.ach-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.medal-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tap-to-continue {
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-direction: alternate;
}

.advert-div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes stretch {
  from {transform: scale(0)};
  to {transform: scale(1)};
}

@keyframes pulse {
  from {transform: scale(0.8)};
  to {transform: scale(1)};
}
